<div class="nav-bar">
  <%= link_to "Add cocktail", new_cocktail_path, class: "top-btn" %>
</div>
<div class="title-container">
  <h1>Cocktails</h1>
</div>

<div class="card-container">

<% 10.times do %>
<div class="cocktail-card">
 <h3><a href="#">Mojito</a>
</div>
<% end %>

</div>
