<div class="nav-bar">
  <%= link_to "All cocktails", cocktails_path, class: "top-btn" %>
  <%= link_to "New cocktail", new_cocktail_path, class: "top-btn" %>
</div>

<div class="title-container">
  <h2><%= @cocktail.name %></h2>
</div>

<%= cl_image_tag @cocktail.photo.key, height: 500, width: 400 %>
