.nav-bar {
  margin: 40px -40px;
  width: 100%;
}

.top-btn {
  margin: 0 0 0 16px;
  padding: 14px 20px;
  color: white;
  border: 2pt dotted white;
  border-radius: 12px;
  font-family: "Abril Fatface", serif;
  font-size: 16pt;
  float: right;
}

.top-btn:active, .top-btn:hover {
  background-color: white;
  color: $tangerine;
}

